<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" 
         routerLink="/">Lab App</a> 
    </div>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/patient" >Zarejestruj pacjenta</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/testbase">Baza badań</a>
      </li>
    </ul>
  
    <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active">
           <a routerLink="/signin">Zaloguj</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/signup">Zarejestruj</a>
        </li>
    </ul>
  </div>
  </div>
</nav>