<div class="container">
  <div class="jumbotron" style="background-color: gray;">
    <form >
      <div class="form-group">
          <label for="email">e-mail</label>
          <input class="form-control" type="email" name="email" required>
      </div>
      <div>
        <label for="password">hasło</label>
        <input class="form-control" type="password" name="password" required>
      </div>
      <button name="" id="" class="btn btn-primary" type="submit" >TADAM</button>
    </form>
  </div>
</div>
.  